---
import Layout from '../layouts/Layout.astro';
import settings from '../settings.json';
---
<Layout>
  <section>
    <h1>Welcome to {settings.restaurantName}</h1>
    <p>Check out our menu below:</p>
    
    <ul>
      {settings.menu.map((item) => (
        <li>{item.name} - {item.price}</li>
      ))}
    </ul>

    {settings.showOnlineOrdering && (
      <button class="order-btn">Order Online Now</button>
    )}
  </section>
</Layout>
